{% extends "bootstrap/base.html" %}
{% block content %}

<style>

</style>

<div class = "container"> 
<div class = "jumbotron text-center">
    <h3>Sentiment Analysis With NLP</h3>
    <p> A text summarization tool </p>

</div>

</div>

<div class = "container">
    <form method="POST" action="{{ url_for('analyse')}}" id = "myform">
        <label><strong>Enter your text below</strong></label><br>
        <textarea class="form-control" rows="20" cols="40" name="rawtext"></textarea><br>

        <input type="submit" onclick="myAnalyser()" value="submit" class="btn btn-primary">
        <input type="button" onclick="myFunction()" value="clear" class="btn btn-outline-dark">

        <a href="{{ url_for{'index'}}}" type="button" class ="btn btn-danger">Reset</a>

        
    </form>
</div>
<br/>
<hr/>
